@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hidden {
    overflow: scroll;
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

#sheet .--250 {
  margin-right: -0.5ch;
}

#sheet .--500 {
  margin-right: 0ch;
}

#sheet .--750 {
  margin-right: 0.25ch;
}

#sheet .--875 {
  margin-right: 0.75ch;
}

#sheet .--1000 {
  margin-right: 1ch;
}

#sheet .--1500 {
  margin-right: 2ch;
}

#sheet .--1750 {
  margin-right: 2.5ch;
}

#sheet .--2000 {
  margin-right: 3ch;
}

#sheet .--3000 {
  margin-right: 5ch;
}

#sheet .--3500 {
  margin-right: 6ch;
}

#sheet .--4000 {
  margin-right: 7ch;
}

#sheet .--6000 {
  margin-right: 11ch;
}

#sheet .--7000 {
  margin-right: 13ch;
}

#sheet .active {
  background-color: #22222250;
}

#sheet .correct {
  color: #dff0d8;
}

#sheet .incorrect {
  color: #f2dede;
}

#sheet span {
  line-height: 1;
  padding: 1px 1.5px 2.5px;
  border-radius: 0.25rem; /* 4px */
}

body.zen-mode .zen-invisible {
  opacity: 0;
}

body.zen-mode .zen-hoverable {
  @apply transition-opacity;
  opacity: 0;
}

body.zen-mode .zen-hoverable:hover {
  opacity: 1;
}
