@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hidden {
    overflow: scroll;
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

#sheet span {
  line-height: 1;
  border-radius: 0.25ch;
}

#sheet span.active {
  background-color: #22222250;
}

#sheet span.correct {
  color: #dff0d8;
}

#sheet span.incorrect {
  color: #f2dede;
}

body.zen-mode .zen-invisible {
  opacity: 0;
}

body.zen-mode .zen-hoverable {
  @apply transition-opacity;
  opacity: 0;
}

body.zen-mode .zen-hoverable:hover {
  opacity: 1;
}
